@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/nav";
@import "components/question";
@import "components/search";
@import "components/questionList";
@import "components/profile_modal";
@import "components/comment";
@import "components/voting";

body {
  background-color: $light-grey;
}

.form {
  display: flex;
  justify-content: space-between;
}

.picture{
  height:70px;
  width: 70px;
  background-image: url("../img/blank.png");
  background-size: contain;
  border-radius: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.picture-wrapper{
  width: 15%;
  display: flex;
  align-items: center;
}
