@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/nav";
@import "components/question";
@import "components/search";
@import "components/questionList";
@import "components/profile_modal";
@import "components/comment";
@import "components/voting";

body{
  background-color: $bg;
  margin: 0 !important;
  font-family: 'Lato', sans-serif;
}

h3{
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  .span-style{
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-style: normal;
      word-spacing: 3px;
  }
}
h4{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.form {
  display: flex;
  justify-content: space-between;
}

.picture{
  height: 70px;
  width: 70px;
  background-image: url("../img/blank.png");
  background-size: contain;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.picture-wrapper{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
