// Colors
$blue: #DFF3FD;
$grey: #EEE;
$bg: #FFE1AD;
$darkblue: #1583CC;
$light-grey: #fafafa;
$lightblue: #f2faff;
$light-color: #aaa;

// Other
$rotation1: -30deg;
$rotation2: -5deg;
$rotation3: -20deg;
$rotation4: 10deg;
$square-size: 100px;
