.comment-container{
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.5);
  -moz-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.5);
  box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.5);
  //border-bottom: 2px solid rgba(138,138,138,0.3);
}

.reply-container{
  background-color: #fff;
  display: inline-block;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.5);
  -moz-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.5);
  box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.5);
  border-bottom: 2px solid rgba(138,138,138,0.3);
  width: 85%;
  float: right;
}

.comment-section{
  width: 85%;
  float: right;
  height: 100%;
  padding-bottom: 10px;
  border-left: 1px solid rgba(138,138,138,0.3);
}

.comment-top{
  padding: 10px 20px;
}

.comment-bottom{
  padding: 10px 20px;
}

.comment-left{
  width: 80%;
  float: left;
}

.comment-right{
  width: 20%;
  float: left;
  text-align: center;
}

#reply{
  overflow: auto;
  margin-bottom: 20px;
}
.id1{
  margin: 0 6px;
  color: rgba(138,138,138,0.6);
  letter-spacing: -1px;
  word-spacing: 5px;
}
.id2{
  color: rgba(1,1,1,0.9);
  font-style: italic;
}
