// containers
.nav-container {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid rgba(238,238,238,0.5);
}

.demo-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  border: 1px solid red;
  border-radius: 10rem;

  input {
    margin-left: 0.5rem;
    margin-right: 2rem;
  }
}

// ----
.nav-bar {
  margin-left: 500px; // TEMPORARY
  display: flex;
  justify-content: space-between;
}

.peerCount {
  width: 60px;
}

#logo{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  background: $darkblue;
  color: #fff;
  font-size: 40px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

#logo-text{
  font-size: 35px;
  margin-right: 2rem;
}
