.modal-picture{
  height:80px;
  width: 80px;
  margin: 20px auto;
  background-image: url("../img/blank.png");
  background-size: contain;
  border-radius: 50%;
}

.picture{
  height:80px;
  width: 80px;
  background-image: url("../img/blank.png");
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}
