.question {
  display: flex;
  background-color: #fff;
  padding: 0 0 50px 0;
  border-bottom: 2px solid rgba(238,238,238,0.5);
  -webkit-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.4);
  -moz-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.4);
  box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.4);
}

.question-left {
  width: 80%;
}

.question-top{
  display: flex;
  width: 100%;
  background-color: $blue;
}

.header-wrapper{
  padding-left: 1.5rem;
  width: 80%;
}

.question-right {
  float: right;
  width: 20%;
  height: 300px;
  padding-left: 3rem;
  padding-top: 150px;

  h4 {
    font-size: 20px;
  }
}

.question-side{
  background-color: $blue;
  height: 200px;
  width: 15%;
  float: left;
  position: relative;
}

.question-text {
  display: flex;
  width:85%;
  padding: 1.5rem;
}

.question-fill{
  width: 85%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  .picture{
    margin-top: 20px;
  }

}

.question-blank{
  background-color: #fff;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid white;
  font-weight: bold;

  .blank-number {
    display: flex;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
  }
}

.question-profile{
  background-color: $grey;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid white;
}

.peer-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-dot{
    position: relative;
    bottom: -0.5rem;
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
  }
  .text-footer{
    width: 80%;
    border-top: 2px solid rgba(138,138,138,0.3);
    margin-bottom: -0.5rem;
    text-align: center;
    font-size: 12px;
  }
}



.button-custom {
  width: 14rem;
  background-color: $white;
  border: 2px solid $grey;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.button-label {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.follow-button {
  width: 15%;
  display: flex;
  align-items: center;

  button {
    outline: none;
    user-select: none;
    color: $foundationBlue;
    font-weight: bold;
    font-size: 20px;
  }
}
