.question {
  display: flex;
  background-color: #fff;
  padding: 0 0 50px 0;
}

.question-left {
  float: left;
  width: 80%;

  .question-top{
    display: flex;
    background-color: $blue;
  }
  .bottom-container {

  }
}

.header-wrapper{
  padding-left: 1.5rem;
  width: 80%;
}

.question-right {
  float: right;
  width: 20%;
  height: 300px;
  padding-left: 3rem;
  padding-top: 150px;

  h4 {
    font-size: 20px;
  }
}

.question-side{
  background-color: $blue;
  height: 200px;
  width: 15%;
  float: left;
  position: relative;
}

.text-footer{
  width: 80%;
  border-top: 2px solid rgba(138,138,138,0.3);
  position: absolute;
  bottom: 5%;
  margin-left: 10%;
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
}

.question-fill{
  width: 85%;
  height: 200px;
  float: right;
  .picture{
    margin-top: 20px;
  }
  .question-blank{
    background-color: #fff;
    height: 200px;
    width: 20%;
    display: inline-block;
    overflow: hidden;
    position: relative;

    span{
      display: block;
    }

    .text-footer{
      border: none;
    }
  }
  .question-profile{
    background-color: $grey;
    height: 180px;
    width: 20%;
    display: inline-block;
    border-left: 5px solid white;
    overflow: hidden;
    position: relative;

    span{
      position: absolute;
      bottom: -20%;
      font-size: 50px;
      margin-left: 38%;
    }
  }
}
