.question {
  display: flex;
  background-color: #fff;
  padding: 0 0 50px 0;
  border-bottom: 2px solid rgba(238,238,238,0.5);
  -webkit-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.4);
  -moz-box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.4);
  box-shadow: 2px 4px 8px 0px rgba(138,138,138,0.2);
}

.question-left {
  width: 80%;
}

.question-top{
  display: flex;
  width: 100%;
  background-color: $blue;
  padding: 1rem 0;
}

.header-wrapper{
  padding-left: 1.5rem;
  width: 80%;
}

.question-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  padding-left: 3rem;
  padding-top: 10rem;

  h4 {
    font-size: 20px;
  }
}

.question-right-medium {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  float: right;
  height: 180px;
  padding-left: 1.5rem;
}

.question-side{
  background-color: $blue;
  height: 200px;
  width: 15%;
  float: left;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .text-footer{
    margin-bottom: 0.5rem;
  }
}

.question-text {
  float: right;
  width: 85%;
  padding: 1.5rem;
}

.text-footer{
  width: 80%;
  border-top: 2px solid rgba(138,138,138,0.3);
  margin-bottom: -0.5rem;
  text-align: center;
  font-size: 12px;
}

.question-fill{
  width: 85%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  .picture{
    margin-top: 20px;
  }

}

.question-blank{
  background-color: #fff;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid white;
  font-weight: bold;

  .blank-number {
    display: flex;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
  }
}

.question-profile{
  background-color: $grey;
  height: 180px;
  width: 100%;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid white;
}

.peer-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-dot{
    position: relative;
    bottom: -0.5rem;
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
  }
}



.button-custom {
  width: 14rem;
  background-color: $white;
  border: 2px solid $grey;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.button-label {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.follow-button {
  width: 15%;
  display: flex;
  align-items: center;

  button {
    outline: none;
    user-select: none;
    color: $foundationBlue;
    font-weight: bold;
    font-size: 20px;
  }
}


// media
@media screen and (max-width: 700px) and (min-width: 0) {
  .question-side{
    display: none;
  }
  .question-text{
    width: 100%;
  }
  .question-fill{
    width: 100%;
  }
  .question-left{
    width: 100%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 0) {
  .question-left{
    width: 100%;
  }
  .question-right-medium{
    display: flex;
  }
  .question-right{
    display: none;
  }
}
